<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row *ngFor="let cat of getCats; let idx = index" [ngClass]="['ion-wrap ion-justify-content-center']">
        <ion-col size-sm="12" size-md="6">
          <ion-card [ngClass]="['ion-margin ion-justify-content-center']">
            <ion-header>
              <img [src]="cat.main_image">
            </ion-header>
              <ion-card-content>
                <a [routerLink]="['pet']" [queryParams]="{id: idx}">
                  <h1>{{ cat.name }}</h1>
                </a>
                <button *ngIf="isSessionStarted() && islike(cat.id) == false" (click)="ferLike(cat.id)">
                  <ion-icon name="heart-sharp"></ion-icon>
                </button>
                <button *ngIf="isSessionStarted() && islike(cat.id) == true" (click)="ferDislike(cat.id)">
                  <ion-icon [ngClass]="['dislike']" name="heart-dislike-sharp"></ion-icon>
                </button>
              </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
</ion-content>
